$def with(datos)
<h1>Borrar</h1>

<div class="card text-center">
    <div class="card-header">
      ALUMNOS
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Seleccionar</th>
                <th scope="col">Matrícula</th>
                <th scope="col">Nombre</th>
                <th scope="col">A. Paterno</th>
                <th scope="col">A. Materno</th>
                <th scope="col">Teléfono</th>
                <th scope="col">E-mail</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                    <th scope="col">
                            <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    </th>
                <th scope="row">1234245688</th>
                <td>Raul</td>
                <td>Gonzalez</td>
                <td>Martínez</td>
                <td>7721121897</td>
                <td>raulgm@gmail.com</td>
              </tr>
              <tr>
                    <th scope="col">
                            <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    </th>
                <th scope="row">1234245689</th>
                <td>Ana</td>
                <td>Ramirez</td>
                <td>López</td>
                <td>6677357293</td>
                <td>anarl@hotmail.com</td>
              </tr>
              <tr>
                    <th scope="col">
                            <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    </th>
                <th scope="row">1234245690</th>
                <td>Arturo</td>
                <td>Pérez</td>
                <td>Montiel</td>
                <td>7725614886</td>
                <td>arturopm@gmail.com</td>
              </tr>
            </tbody>
          </table>
                   
    </div>
    <div class="card-footer text-muted">
      
    </div>
  </div>
