$def with(datos)
<h1>Insertar</h1>


    
  
  <form>
      <div class="form-row">
          <div class="col-md-2 mb-4">
            <label for="inputMatricula">Matrícula</label>
            <input type="text" class="form-control" id="inputMatricula">
            
          </div>
          <div class="col-md-3 mb-4">
            <label for="inputNombre">Nombre</label>
            <input type="text" class="form-control" id="inputNombre">
          </div>
          <div class="col-md-3 mb-4">
          <label for="inputAPaterno">A. Paterno</label>
          <input type="text" class="form-control" id="inputAPaterno">
           </div>
           <div class="col-md-3 mb-4">
              <label for="inputAMaterno">A. Materno</label>
              <input type="text" class="form-control" id="inputAMaterno">
               </div>
        </div>

        <div class="form-row">
          <div class="col-md-3 mb-4">
            <label for="inputCalle">Calle</label>
            <input type="text" class="form-control" id="inputCalle">
          </div>
          <div class="col-md-1 mb-1">
              <label for="inputNumero">Numero</label>
              <input type="text" class="form-control" id="inputMumero">
            </div>
            <div class="col-md-3 mb-4">
                <label for="inputCol">Col.</label>
                <input type="text" class="form-control" id="inputCol">
              </div>
              <div class="col-md-3 mb-4">
                  <label for="inputMuni">Municipio</label>
                  <input type="text" class="form-control" id="inputMuni">
                </div>
        </div>
        <div class="form-row">
             <div class="form-group col-md-4">
              <label for="inputEstado">Estado</label>
              <select id="inputEstado" class="form-control">
                <option selected>Choose...</option>
                <option>AGUASCALIENTES</option><option>BAJA CALIFORNIA</option><option>BAJA CALIFORNIA SUR</option><option>HIDALGO</option>
                
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputCP">Código Postal</label>
              <input type="text" class="form-control" id="inputCP">
            </div>
          </div>


        <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Password</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
      </div>
      
     
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
      <h1 class="text-hide" style="background-image: url('/docs/4.1/assets/brand/bootstrap-solid.svg'); width: 50px; height: 50px;">Bootstrap</h1>
    </form>